name: finger_taping_game
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

assets:
 -assets/image/logo.png

flutter_launcher_icons:
  android: true
  ios: true
  web:
   generated: true
  windows:
   generated: true
  image_path: assets/image/logo.png
